---
import DefaultLayout from "./DefaultLayout.astro";
---

<DefaultLayout>
  <section class="margin-48">
    <div class="container">
      <slot />
    </div>
  </section>
</DefaultLayout>

<style>
  p {
    margin-bottom: 0.2em;
    padding: auto;
  }
</style>